@import '~react-grid-layout/css/styles.css';
@import '~react-resizable/css/styles.css';

.bender-dashboard {
  flex: 1 1 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.bender-dashboard > .pf-c-tabs {
  flex-shrink: 0;
}

.bender-dashboard > .pf-c-tab-content {
  flex: 1 1 0;
  background-color: rgb(240, 240, 240);
  overflow: hidden;
}

.bender-grid-item .co-dashboard-card {
  height: 100%;
  overflow: hidden;
}

.bender-dashboard .pf-c-card {
  height: 100%;
}
